@import 'normalize.css';

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
$font-roboto:'Roboto', sans-serif;
$font-bebas: 'BebasNeue' sans-serif;

@font-face {
	font-family: 'BebasNeue' sans-serif;
	src: url('fonts/BebasNeue Bold.otf');
	src: url('fonts/BebasNeue Book.otf');
	src: url('BebasNeue Light.otf');
	src: url('BebasNeue Regular.otf');
	src: url('BebasNeue Thin.otf');
}

.container {
	width: 1100px;
	margin: 0 auto;
}

.main{
	background-color: #9789f9;
	// position: relative;
	
&__boxed{
	display: flex;
	padding-bottom: 170px;
	padding-top: 100px;
	padding-left: 40px;
}

&__section{
	width: 327px;
	height: 550px;	
	box-shadow: 2px 4px 59px #7a6be7;
	background-color: #f5f4f9;
	margin-right:20px;
	position: relative;
	text-align: center;
	z-index: 1;

&:after{
	content: '';
    position: absolute;
    top: 155px;
    border-radius: 45%;
    bottom: 63px;
    left: -6px;
    right: 0;
    margin-right: 0px;
    margin-left: 6px;
    margin-top: -20px;
    background-color: #ffffff;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    z-index: -1;
		}

	}
&__head{
	padding-top: 25px;
	padding-bottom: 50px;
}

&__currency{
	letter-spacing: 1.28px;
	font-family: $font-bebas;
	font-weight: 100;
	font-size:18px;
	text-transform: uppercase;
}

&__currency span{
	font-size:40px;
}

&__head p{
	font-family: $font-bebas;	
	font-weight: 400;
	line-height: 36px;
	text-transform: uppercase;
	font-size:18px;
	letter-spacing: -0.50px;
	color: #181818;
	padding-top: 10px;
}

&__head img{
	padding-top:50px;
}

&__list{
	padding-left:110px;
	text-align: left;
	font-family: $font-roboto;
	color: #181818;

	& li{
		font-weight: 300;
		line-height: 53px;

	}
}

	.center{
		padding-left:90px;
	}

&__hide{
	color: #a9a9a9;
	font-family: $font-roboto;
	font-size: 13px;
}

&__btn{
	// padding-top:0px;

	&:active{
		margin:-60px;
		transition: 0.3s ease;

		& a:active{
			background-color: #fd8d7b;
			transition: 0.3s ease-in;
		}
	}

	& a{
		font-family: $font-bebas;
		color: #ffffff;
		padding:15px 35px;
		box-shadow: 2px 4px 18px rgba(133, 192, 247, 0.31);
		border-radius: 27px;
		background-color: #6fcffb;
		text-transform:uppercase;
		font-weight: 100;
		letter-spacing: -0.70px;
	}

&--center {
	margin: 45px;
	}
&--center:active{
	margin:0px;
	transition: 0.3s ease-in;
	}	
	
&--center a{
	background-color: #fd8d7b;
	}
}

&__hide--center{
	padding: 45px;
}

&__big{
	width: 370px;
	height: 660px;
	// order:0;
}

&__layer{
	background-image: url(../images/layers.png);
	background-repeat: no-repeat;
	background-position: top right;
}

&__padd{
	margin-top:-50px;
	position: relative;
		&:after{
		content:'Popular';
		color:white;
		text-align: center;
		text-transform: uppercase;
		position: absolute;
		top: 19px;
	    bottom: 0;
	    left: 360px;
	    right: 0;
	    width: 100px;
	    height: 30px;
		background-color: #3b4040;
		z-index:2;
		// border-bottom-right-radius: 50px;
		// border-bottom-left-radius: 50px;
		// border-top-left-radius: 80px 25px;
		border-radius: 200px 120px 120px 200px;
	}
}
}
